* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
.skin {
  position: relative;
}
.nose {
  border: 10px solid #000000;
  border-color: #000000 transparent transparent;
  /* 可以有四种颜色，这里只留下上面的三角，两边的变透明 */
  border-bottom: none;
  width: 10px;
  height: 10px;
  position: relative;
  left: 50%;
  top: 145px;
  margin-left: -10px;
  /* 居中操作，不然就是三角形的最左边处于居中位置 */
}
.arc {
  position: absolute;
  /* 相对于三角形绝对定位 */
  width: 20px;
  height: 6px;
  background: #000000;
  top: -16px;
  left: -10px;
  border-radius: 10px 10px 0 0;
}
.eye {
  border: 1px solid #000000;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -32px;
  background: #2e2e2e;
  border-radius: 50%;
}
.eye::before {
  content: '';
  /* 添加content，伪元素才看得见 */
  display: block;
  border: 3px solid #000000;
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  left: 7px;
  top: 2px;
}
.eye.left {
  transform: translateX(-100px);
  /* 上面已经用margin做定位了，这里就用transform来改位置 */
}
.eye.right {
  transform: translateX(100px);
}
